[submodule "dependencies/insightface"]
	path = dependencies/insightface
	url = https://github.com/deepinsight/insightface.git
[submodule "dependencies/yolo5_face"]
	path = dependencies/yolo5_face
	url = https://github.com/deepcam-cn/yolov5-face
[submodule "dependencies/DECA"]
	path = dependencies/DECA
	url = https://github.com/YadiraF/DECA.git
