[submodule "detection/insightface"]
	path = detection/insightface
	url = https://github.com/deepinsight/insightface.git
[submodule "detection/yolo5_face"]
	path = detection/yolo5_face
	url = https://github.com/deepcam-cn/yolov5-face
[submodule "DECA"]
	path = DECA
	url = https://github.com/YadiraF/DECA.git
[submodule "reconstruction/DECA"]
	path = reconstruction/DECA
	url = https://github.com/YadiraF/DECA.git
