# For windows users,install dlib library via: https://medium.com/analytics-vidhya/how-to-install-dlib-library-for-python-in-windows-10-57348ba1117f
# And if it still doesnt work, use :
#   conda install -c conda-forge dlib
#   pip install face_recognition

# python 3.7
# CUDA 10.2
# conda install pytorch==1.9.0 torchvision==0.10.0 torchaudio==0.9.0 cudatoolkit=10.2 -c pytorch
# pip install mmcv-full==1.3.3 -f https://download.openmmlab.com/mmcv/dist/cu102/torch1.9.0/index.html


certifi==2021.10.8
click==8.0.4
cmake==3.22.3
colorama==0.4.4
# dlib @ file:///D:/bld/dlib_1647301355251/work
face-recognition==1.3.0
face-recognition-models==0.3.0
importlib-metadata==4.11.3
numpy
opencv-python==4.5.5.64
Pillow==6.0.1
typing_extensions==4.1.1
wincertstore==0.2
zipp==3.7.0
opencv-contrib-python
onnxruntime
keras_vggface
onnx
pandas
seaborn
sklearn